body {
    background-color: #092140;
}

.bh-shadow {
    box-shadow: 0px 1px 30px 0px rgba(255, 255, 255, 1);
}

.gravity {
    transform-origin: center;
    animation: gravity-pull 1.8s linear 1s infinite running;
}

@keyframes gravity-pull {
    0% {
        transform: scale(1.0) translateY(0px);
        opacity: 1;
    }
    100% {
        transform: scale(0.90) translateY(0px);
        opacity: .4;
    }
}

.down-arrow {
    transform-origin: center;
    animation: down-arrow .8s cubic-bezier(0,.71,.12,.97) 1s infinite alternate running;
}

@keyframes down-arrow {
    0% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
    100% {
        transform: translate(0px, -12px);
        opacity: .6;
    }
}

.startup-anim {
    animation: startup-anim 2s forwards;
}

.startup-anim-rings {
    animation: startup-anim 2s forwards;
}

@keyframes startup-anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.down-arrow-hover {
    transform-origin: center;
    animation: down-arrow-hover .8s ease-in;
}

@keyframes down-arrow-hover {
    0% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0.7);
    }
}

.stars-twinkle {
    animation-name: star-twinkle;
    animation-duration: 1.5s; 
    animation-timing-function: ease-in-out; 
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running; 
}

@keyframes star-twinkle {
    0% {
        opacity: 1;
    }
    100% { 
        opacity: .3;
    }
}


.anim-delay-0 {
    animation-delay: 0ms;
}
.anim-delay-1 {
    animation-delay: 50ms;
}
.anim-delay-2 {
    animation-delay: 100ms;
}

.anim-delay-3 {
    animation-delay: 1s;
}